* {
    box-sizing: border-box;
}

html {
    /* background-image: url(../images/snow-covered-mountain-during-sunrise-618833.jpg); */
    font-family: 'Tajawal', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

header {
    display: block;
    justify-content: space-around;
    height: 60px;
    background-color: #333333;
    margin-bottom: 12px;
}
 /* * {
    color: rgba(8, 8, 8, 0.774);
    /* color: #000000; */
    /* background: */
/*} */

p {
    color: #5d5d5d;
    font-size: 16px, ;
}

table {
    width : 100%;
    border-spacing: 0;
}

th {
    color: #ffffff;
    font: 12px;
    background: #4285f4;
    margin: 0px 20px 0px 0px;
    padding: 5px 10px;
}

th, td {
    padding: 7px;
}

tr {
    color: #5d5d5d;
}

.column-1 {
    text-align: left;
}

.column-2 {
    text-align: right;
}

/* tr:hover td { */
    /* color: white; */
    /* font-size: 2.2em; */
/* } */

.odd-row, tr:hover {
    background-color: #f9f9f9;
}

.even-row {
    background-color: #ffffff;
}

.sidebar-heading {
    text-transform: uppercase;
}

a {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a {
    text-transform: uppercase;
    color: #57ad68;
}

ul a:link, ul a:visited {
    color:#57ad68;
    text-transform: uppercase;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

li  {
    padding: 10px 0 2px 3px;
    /* outline: 1px solid red; */
}

.main-content {
    width: 66%;
    border: 1px solid orange;
}

.sidebar {
    width: 30%;
    max-width: 190px;
    border: 1px solid red;
}

.logo {
    width: 357px;
    height: 58px
}

.icon:hover{
    height: 50px;
    max-width: 35px;
    float: right;
    padding: 4px 4px 0 0;
    border: 1px solid red;
}

.menu-simple-container {
    /* float: right; */
}

.menu-simple-container ul {
    float: right;
    border: 1px solid red;
}

.menu-simple-container ul li {
    color: white;
    font: 1em;
    margin: -6px 0 0 -1px;
    padding: 26px 12px 24px;
}